/*Variasveis do projeto para mudar tude de uma vez*/
:root {
    --verde-esc: #2d6a4f;
    --verde: #40916c;
    --verde-cla: #74c69d;
    --verde-lt: #d8f3dc;
    --laranja: #f4845f;
    --cinza: #e0e0d8;
    --texto: #1b1b1b;
    --branco: #ffffff;
    --offwhite: #f5f5f0;
    --sombra: 0 4px 24px rgba(45, 106, 79, .13);
    --radius: 14px;
}


html {
    height: 100%;
}


body {
    font-family: 'Nunito', sans-serif;
    background: var(--offwhite);
    color: var(--texto);
    flex-direction: column;
    display: flex;
    margin: 0;
    height: 100%;
    background-attachment: fixed;
}



/*Barra de cima*/
.topo {
    background: var(--verde-esc);
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

}


/* menu da esquerda */
.topo-menu {
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu-logo {
    margin-right: 20px;
    background: none;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.menu-logo img {

    width: 25px;
    height: 25px;
    /* deixa o icone de preto para branco */
    filter: invert(1);
}

.logo {
    width: 50px;
    margin: 0;
}


/* perfil da direita */
.topo-perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.perfil {
    background: var(--laranja);
    border-radius: 100px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    transition: all .2s;
}

.perfil:hover {
    background: var(--verde-cla);
}

/* Botão sair */
.btn-sair {
    background: var(--verde);
    border: none;
    color: var(--branco);
    border-radius: 100px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s;
}

.btn-sair:hover {
    background: var(--verde-cla);
}


/* area embaixo do topo */
.area-principal {
    display: flex;
    flex: 1;
    overflow-x: hidden;
}

/* menu-lateral lateral */
nav.menu-lateral.aberto {
    display: block;
}


nav.menu-lateral {
    display: none;
    width: 220px;
    background: linear-gradient(135deg, var(--verde-esc) 0%, var(--verde-cla));
    border-right: 0;
    flex-shrink: 0;
    position: fixed;
    height: 100%;
}

nav.menu-lateral a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    color: var(--branco);
    font-weight: bold;
    text-decoration: none;
    transition: all .2s;
}

nav.menu-lateral a:hover,
nav.menu-lateral a#adocao {
    background: var(--verde-lt);
    color: var(--verde);
}

nav.menu-lateral a .icone {
    text-align: center;
}

/* conteúdo */

.conteudo {
    margin: 10px;
}

@media (max-width: 360px) {
    .logo {
        display: none;
    }

    .perfil {
        display: none;
    }

    h2 {
        display: none;
    }

    .topo {
        padding: 15px 10px;
    }
}



/*Parte Referência*/
.titulo {
    font-size: 25px;
    color: var(--verde-esc);
    margin-bottom: 20px;
    border-left: 4px solid var(--laranja);
    padding-left: 12px;
}

.busca-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.busca-bar input {
    flex: 1;
    min-width: 160px;
}


.animal-card {
    background: var(--branco);
    border-radius: var(--radius);
    box-shadow: var(--sombra);
}

.animal-foto {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

.animal-info {
    padding: 15px;
}

.animal-info h4 {
    color: var(--verde-esc);
    margin-bottom: 5px;
}

.animal-info p {
    font-size: 15px;
    margin: 10px 0;
}

.tag {
    padding: 5px 12px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.tag-verde {
    background: var(--verde-lt);
    color: var(--verde);
}

.btn-adotar {
    border-radius: 100px;
    padding: 7px 15px;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
    background: var(--verde);
    color: var(--branco);

}


input,
select,
textarea {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid var(--cinza);
    border-radius: var(--radius);
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    background: var(--branco);
    transition: border .2s;
    outline: none;
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
    border-color: var(--verde);
}


label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--verde-esc);
}